<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.first.mapper.commentMapper">
	<insert id="commentCreate" parameterType="com.home.first.dto.CommentDto">
		INSERT INTO comment(
			board_idx, 
			user_id, 
			comment_content
		)VALUES(
			#{board_idx},
			#{user_id},
			#{comment_content}
		)
	</insert>
	<update id="commentUpdate" parameterType="com.home.first.dto.CommentDto">
		UPDATE
			comment
		SET
			comment_content = #{comment_content}
		WHERE
			comment_idx = #{comment_idx};	
			
	</update>
	<delete id="commentDelete" parameterType="int">
		DELETE FROM 
			comment
		WHERE 
			comment_idx = #{comment_idx}
	</delete>
	<select id="commentRead" parameterType="int" resultType="com.home.first.dto.CommentDto">
		SELECT
			comment_idx,
			board_idx,
			comment_content,
			user_id,
			comment_date
		FROM
			comment
		WHERE
			board_idx = #{board_idx}
		ORDER BY 
			comment_idx ASC
	</select>
	<select id="commentCheck" parameterType="int" resultType="com.home.first.dto.CommentDto">
		SELECT
			comment_idx,
			board_idx,
			comment_content,
			user_id,
			comment_date
		FROM
			comment
		WHERE
			comment_idx = #{comment_idx}
	</select>
</mapper>